<div x-data='forms()'>
  {% form 'contact' %}
    {% comment %}
      Successful message
    {% endcomment %}
    {% if form.posted_successfully? %}
      <p class='note form-success'>
        {{ 'contact.form.post_success' | t }}
      </p>
    {% endif %}

    {{ form.errors | default_errors }}

    <div class='flex flex-wrap w-full'>
      <div class='grid w-full grid-cols-2 gap-8'>
        <div class='w-full'>
          <input
            x-on:input='validateTxt()'
            type='text'
            id='ContactFormName'
            class='required {% render 'form-txt' %}'
            name='contact[{{ 'contact.form.name' | t }}]'
            placeholder='{{ 'contact.form.name' | t }}'
            autocapitalize='words'
            value='{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}'
          >
        </div>

        <div class='w-full'>
          <input
            x-on:input='validateTxt()'
            type='email'
            id='ContactFormEmail'
            class='required {% render 'form-txt' %}'
            name='contact[email]'
            placeholder='{{ 'contact.form.email' | t }}'
            autocorrect='off'
            autocapitalize='off'
            value='{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}'
          >
        </div>
      </div>

      <div class='w-full'>
        <input
          x-on:input='validateTxt()'
          type='text'
          id='ContactFormLocation'
          class='required {% render 'form-txt' %}'
          name='contact[location]'
          placeholder='location'
          value='{% if form.location %}{{ form.location }}{% elsif customer %}{{ customer.location }}{% endif %}'
        >
      </div>

      <div class='w-full'>
        <textarea
          x-on:input='validateTxt()'
          rows='10'
          id='ContactFormMessage'
          class='required  mt-5 md:mt-10 {% render 'form-txt' %}'
          name='contact[{{ 'contact.form.message' | t }}]'
          placeholder='{{ 'contact.form.message' | t }}'
        >{% if form.body %}{{ form.body }}{% endif %}</textarea>
      </div>

      <input
        x-on:click.prevent='submitForm'
        type='submit'
        data-form='contact_form'
        class='submit-btn mx-auto hover:bg-tint3  bg-tint1 text-tint2 {% render 'c-btn' %}'
        value='send'
      >
    </div>
  {% endform %}
</div>
