<header id='header' class='flex flex-wrap items-center justify-center w-full font-1 bg-tint2 rounded-t-2'>
  <div class='relative flex flex-wrap  w-full  xl:w-11/12  {% render 'c-container' %} h-[85px] md:h-[160px]'>
    <div class='my-auto '>
      <button class='block cursor-pointer lg:hidden ' x-data='menu()' @click='open'>
        <img class='w-[28px]' src='{{ 'ham.svg' | asset_url }}' alt='menu'>
      </button>
      <div class='hidden lg:block'>{% render 'menu' %}</div>
    </div>

    <div class='absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'>
      <a href='/'><img class='w-[120px] md:w-[200px]' src='{{ 'logo.svg' | asset_url }}' alt="Dab of Zab's"> </a>
    </div>

    <div class='my-auto ml-auto'>
      <div class='flex flex-wrap items-center ml-auto'>
        {% render 'right-menu' %}
        <a href='account/login'>
          <img class='w-[18px] ml-2 mr-2' src='{{ 'login.svg' | asset_url }}' alt='login'>
        </a>
        <a href='/cart' class='flex flex-wrap items-center group font-1 text-2-fluid'>
          <img class='w-[22px] mr-1' src='{{ 'cart.svg' | asset_url }}' alt='Cart'>
          <span class='group-hover:text-tint3'> ({{ cart.item_count }})</span>
        </a>
      </div>
    </div>
  </div>
</header>
