<div>
  {% assign current_variant = product.selected_or_first_available_variant %}

  <form
    x-data='product()'
    class='mb-6'
    action='/cart/add'
    data-productid='{{ product.id }}'
    method='post'
    enctype='multipart/form-data'
    id='AddToCartForm'
  >
    {% render 'product-variants' %}

    <select
      name='id'
      data-productid='{{ product.id }}'
      id='ProductSelect--{{ section.id }}'
      class='variant-select'
    >
      {% for variant in product.variants %}
        {% if variant.available %}
          <option
            id='ProductSelectOption-{{ variant.id }}'
            {% if variant == product.selected_or_first_available_variant %}
              selected='selected'
            {% endif %}
            data-sku='{{ variant.sku }}'
            value='{{ variant.id }}'
          >
            {{ variant.title }} - {{ variant.price | money_with_currency }}
          </option>
        {% else %}
          <option disabled='disabled'>{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
    </select>

    <div class='flex flex-wrap mt-2'>
      <div class='mr-2'>{% render 'product-add' %}</div>
      <div>{% render 'product-qty', product: product.variants.first, count: 1 %}</div>
    </div>
  </form>
</div>
