<div class='flex flex-wrap px-3 md:w-1/2 lg:w-1/3 group'>
  <div class='mb-4 md:mb-6 text-center border-3 rounded-2 p-[8px] flex flex-wrap transition-colors duration-150 ease-in-out {% if card_product.available == false %} pointer-events-none  sold-card {% else %} active-card {% endif %}'>
    <div class='flex flex-wrap w-full p-4 border-3 rounded-1 inner-border'>
      {%- if card_product.images.size > 0 -%}
        <a href='{{ card_product.url }}' class='relative block w-full '>
          {% if card_product.available == false %}
            <div class='absolute z-20 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2'>
              <img class='w-[150px]' src='{{ 'sold-out.static.svg' | asset_url }}' alt='Sold out'>
            </div>
          {% endif %}

          {%- assign img = card_product.images.first -%}
          {%- assign img2 = card_product.images[1] -%}

          <div class='w-full border-3 rounded-1 bg-tint2   relative {% if card_product.available == false %}opacity-60{%- endif -%}'>
            {% render 'img-product-card', img: img %}

            {% if card_product.images.size > 1 %}
              <div class='absolute top-0 left-0 z-20 hidden w-full transition-opacity duration-300 ease-in-out opacity-0 md:block group-hover:opacity-100'>
                {% render 'img-product-card', img: img2 %}
              </div>
            {% endif %}
          </div>
        </a>
      {%- endif -%}

      <div class='flex flex-wrap w-full mt-6 text-center {% if card_product.available == false %}opacity-60{%- endif -%}'>
        <div class='flex flex-col flex-wrap w-full'>
          <a href='{{ card_product.url }}'>
            <h3 class='text-center uppercase font-2 text-8-fluid leading-1'>{{ card_product.title | escape }}</h3>
          </a>

          {% render 'okendo-reviews-product-rating-summary', product: card_product %}

          {% if card_product.metafields.custom.product_subtitle != empty %}
            <h4 class='leading-5 mt-7 font-1 text-1-fluid'>{{ card_product.metafields.custom.product_subtitle }}</h4>
          {% endif %}

          <div class='w-full mt-4 md:mt-8 text-tint5 text-6-fluid font-1'>
            {% render 'product-price', product: card_product, price_class: '' %}
          </div>
        </div>

        <div class='pt-3 mx-auto mt-auto gap-x-1 md:pt-6'>
          <a href='{{ card_product.url }}' class='add {% render 'c-btn' %}'
            ><span class='mx-auto my-auto'>
              {% if card_product.available == false %}
                Sold out
              {% else %}
                Shop now
              {% endif %}
            </span></a
          >

          {% if card_product.available == true %}
            <form
              method='post'
              action='/cart/add'
              data-productid='{{ product.id }}'
              data-productid='{{ product.id }}'
              id='add-to-cart-{{ card_product.handle }}-{{ collection.handle }}-{{ section.id }}'
            >
              <input
                type='hidden'
                class='hidden'
                name='id'
                data-productid='{{ product.id }}'
                data-productid='{{ product.id }}'
                value='{{ card_product.variants.first.id }}'
              >

              <button
                class='add mt-3 {% render 'c-btn' %}'
                type='submit'
                name='add'
                {% if card_product.available == false %}
                  disabled
                {%- endif -%}
              >
                <span class='block my-auto'>Add to cart</span>
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
