<section class='flex flex-wrap w-full bg-tint2 '>
  <div class='mx-auto max-w-form w-full pb-7 md:pb-15 {% render 'c-container' %}'>
    <h1 class='{% render 'type-page-header' %} mb-10'>Create Account</h1>

    {% form 'create_customer' %}
      {% if form.errors %}
        <div class='pt-6 pb-6 '>
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <div class='mt-2 mb-6'>
        <input
          class='{% render 'form-txt' %}'
          placeholder='First Name'
          type='text'
          name='customer[first_name]'
          id='FirstName'
          {% if form.first_name %}
            value='{{ form.first_name }}'
          {% endif %}
          autofocus
        >
      </div>

      <div class='mb-6 '>
        <input
          class='{% render 'form-txt' %}'
          placeholder='Last Name'
          type='text'
          name='customer[last_name]'
          id='LastName'
          {% if form.last_name %}
            value='{{ form.last_name }}'
          {% endif %}
        >
      </div>

      <div class='mb-6 '>
        <input
          class='{% render 'form-txt' %}'
          type='email'
          placeholder='Email'
          name='customer[email]'
          id='Email'
          class='{% if form.errors contains 'email' %} input--error{% endif %}'
          {% if form.email %}
            value='{{ form.email }}'
          {% endif %}
          autocorrect='off'
          autocapitalize='off'
        >
      </div>

      <div class='mb-6 '>
        <input
          class='{% render 'form-txt' %}'
          placeholder='Password'
          type='password'
          name='customer[password]'
          id='CreatePassword'
          class='{% if form.errors contains 'password' %} input--error{% endif %}'
        >
      </div>

      <div class='flex flex-wrap mb-10'>
        <input
          type='submit'
          value='{{ 'customer.register.submit' | t }}'
          class='{% render 'c-btn' %} mx-auto bg-tint1 text-tint2 hover:bg-tint3'
        >
      </div>
    {% endform %}
  </div>
</section>
