
<section class="{% render 'container' %} mt-md mb-xl md:mt-xl flex flex-wrap">

  <div class="w-full mx-auto max-w-forms ">


          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

                 {% if form.errors %}
          <div class="text-tint6 pt-sm ">
            {{ form.errors | default_errors }}

              </div>
              {% endif %}


              <div class="mt-md mb-sm ">
            <label class="{% render 'c-label' %}" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% render 'c-input' %}  {% if form.errors contains 'password' %} input--error{% endif %}">
            </div>

                <div class="mt-md ">
            <label class="{% render 'c-label' %}" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% render 'c-input' %} {% if form.errors contains 'password_confirmation' %} input--error{% endif %}"></div>

            <input type="submit" class="{% render 'c-btn' %} text-center btn" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}

          </div>
</section>
