<!doctype html>
<html lang='{{ request.locale.iso_code }}' class='overflow-x-hidden'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <link rel='preconnect' href='https://cdn.shopify.com' crossorigin>

    {{ 'style.css' | asset_url | stylesheet_tag }}

    <link rel='preload' href='{{ 'bundle.js' | asset_url }}' as='script'>
    <link rel='shortcut icon' href='{{ 'favicon.png' | asset_url }}' type='image/png'>

    <title>
      {{ page_title | escape }}
      {%- assign t = template | split: '.' | first -%}
      {%- if t == 'password' -%}
        Zabs
      {%- endif %}
    </title>
    {%- assign t = template | split: '.' | first -%}
    {%- if t == 'password' -%}
      <meta name='description' content=''>

    {% else %}
      {% if page_description %}
        <meta name='description' content='{{ page_description | escape }}'>
      {% endif %}
    {% endif %}

    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}
  </head>

  <body class='flex flex-col min-h-screen px-2 pt-2 overflow-x-hidden antialiased md:pt-4 bg-tint1 text-2 text-tint1 md:px-4 font-1'>
    {% section 'announcement-bar' %}

    <main class='flex-grow'>
      {% render 'header' %}

      <div class=''>
        {{ content_for_layout }}
      </div>
    </main>

    {% section 'footer' %}

    {% render 'mobile-menu' %}

    <script src='{{ 'main.js' | asset_url }}' defer='defer'></script>

    {% include 'subscription-theme-footer' %}
  </body>
</html>
