<section class='w-full bg-tint2 '>
  <div class='pb-10 md:pb-20'>
    <div class='md:px-4'>
      <div class='pb-1 border-b-3 border-tint1'>
        <div
          x-data='logos()'
          data-reverse='true'
          data-speed='0.2'
          x-intersect:enter='out'
          @click.outside='out'
          @mouseover='over'
          @mouseout='out'
          class='flex flex-wrap overflow-hidden border-t-3 border-b-3 border-tint1 '
        >
          <div class='flex items-center py-5 whitespace-nowrap scroll-container'>
            {% for block in section.blocks %}
              <div class='logo' class='inline-block logo'>
                {%- if block.settings['asi-link'] != blank -%}
                  <a href='{{ block.settings['asi-link'] }}' target='_blank'>
                {%- endif -%}
                <img
                  src='{{ block.settings['asi-image'] | img_url: '600x' }}'
                  alt='{{ block.settings['asi-alt'] }}'
                  class='max-h-[40px] md:max-h-[115px] px-3 md:px-6 '
                >
                {%- if block.settings['asi-link'] != blank -%}
                  </a>
                {%- endif -%}
              </div>
            {% endfor %}
            {% for block in section.blocks %}
              <div class='logo' class='inline-block logo'>
                {%- if block.settings['asi-link'] != blank -%}
                  <a href='{{ block.settings['asi-link'] }}' target='_blank'>
                {%- endif -%}
                <img
                  src='{{ block.settings['asi-image'] | img_url: '600x' }}'
                  alt='{{ block.settings['asi-alt'] }}'
                  class='max-h-[40px] md:max-h-[115px] px-3 md:px-6 '
                >
                {%- if block.settings['asi-link'] != blank -%}
                  </a>
                {%- endif -%}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class='flex flex-wrap pt-5'>
      <img class='mx-auto w-[120px] md:w-[300px]' src='{{ 'as.svg' | asset_url }}' alt='As Served in'>
    </div>
  </div>
  <div class='dec-border red-white-dec'></div>
</section>

{% schema %}
{
  "name": "As served in",
  "max_blocks": 10,
  "blocks": [
    {
      "name": "Logo",
      "type": "gallery",
      "settings": [
        {
          "id": "asi-image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "id": "asi-alt",
          "type": "text",
          "label": "Alt"
        },
        {
          "id": "asi-link",
          "type": "url",
          "label": "Name"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "As served at",
      "category": "sections"
    }
  ]
}
{% endschema %}
