<section class="{% render 'c-container' %}">
  <div class="flex flex-wrap w-full pb-7 ">

    <div class="order-2 w-full md:pr-3 md:order-1 md:w-3/4">
      {% for block in section.blocks %}
        <div class="pb-3">
          <img
            src="{{ block.settings.img.src | img_url: '480x' }}"
            alt="{{ block.settings.img.alt | escape }}"
            srcset='
          {% if block.settings.img.width > 640 %}
            {{ block.settings.img.src | img_url: '640x' }} 640w{% endif %}
          {% if block.settings.img.width > 720 %},{{ block.settings.img.src | img_url: '720x' }} 720w{% endif %}
          {% if block.settings.img.width > 900 %},{{ block.settings.img.src | img_url: '900x' }} 900w{% endif %}
          {% if block.settings.img.width > 1200 %},{{ block.settings.img.src | img_url: '1200x' }} 1200w{% endif %}
          {% if block.settings.img.width > 1920 %},{{ block.settings.img.src | img_url: '1920x' }} 1920w{% endif %}'>
        </div>
      {% endfor %}
    </div>

    <div class="order-1 w-full mb-6 md:sticky md:top-0 md:self-start md:order-2 md:w-1/4 brand-t-border">

      {%- if section.settings.title != blank -%}
        <div class="pt-3 pb-4 brand-b-border">
          <h3 class="leading-4 uppercase font-3 tracking-2">{{ section.settings.title }}</h3>
        </div>
      {%- endif -%}

      <div class="pt-3 pb-6 has-txt font-1 text-4 brand-b-border ">
        {{ section.settings.text }}
      </div>

      {%- if section.settings.button-link != blank -%}
        <a class="hover:text-tint3 mt-3 block uppercase tracking-2 font-3 {% render 'c-color-change' %}" href="{{ section.settings.button-link }}">
          <span class="inline-block mr-1">↓</span>
          {{ section.settings.button-text }}
        </a>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image & text",
    "tag": "section",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Download and print our eye test to discover your strength."
      }, {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Reading glasses come in +3, +2.5, +2, +1.5 and +1. Officially called a dioptre, the optical power of a lens, It really means wise, wiser, very wise, Incredibly wise and wisest. </p>"

      }, {
        "id": "button-link",
        "type": "url",
        "label": "Link"
      }, {
        "id": "button-text",
        "type": "text",
        "label": "Link text",
        "default": "Download"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          }
        ]
      }
    ]

  }
{% endschema %}