<footer class='mt-auto text-tint2'>
  <div class='flex flex-wrap pt-12 bg-tint2 {% render 'c-container' %} '>
    <div class='mx-auto h-full  w-full  md:max-w-[800px] relative'>
      <img class='w-full md:hidden' src='{{ 'matchbox-mobile.png' | asset_url }}' alt='Matchbox' loading='lazy'>

      <img class='hidden w-full md:block' src='{{ 'matchbox-desktop.png' | asset_url }}' alt='Matchbox' loading='lazy'>

      <div class='absolute left-[12vw] matchbox pb-[8vw] px-4 md:px-0 md:left-[280px] pt-4 md:pt-12 top-0   md:pb-12  flex flex-wrap h-full text-tint1 text-center w-full md:w-[420px]'>
        <div class='w-full'>
          <h2 class='block mb-2 text-center md:mb-6 font-3 leading-2 text-14-fluid'>Keep in touch</h2>
        </div>

        <div class='hidden w-full leading-6 font-1 text-15-fluid md:block'>
          {{ section.settings['ne-text'] }}
        </div>

        <div class='w-full '>
          <button
            x-data='newsletter()'
            data-id='{{ section.settings['no-id'] }}'
            @click='open'
            class=' mx-auto bg-tint3 text-tint2 hover:bg-tint1 hover:text-tint2 {% render 'c-btn' %}'
          >
            <span class='my-auto'>Sign up</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class='bg-tint2 rounded-b-2 text-tint1   {% render 'c-container' %} py-6 md:py-12 flex flex-wrap items-center'>
    <div>
      <a href='{{ shop.url }}'
        ><img
          class='w-[80px] md:w-[190px]'
          src='{{ 'footer-logo.static.svg' | asset_url }}'
          alt="Zab's hot sauce"
          loading='lazy'
      ></a>
    </div>
    <div class='grid grid-cols-2 mt-6 ml-auto md:grid-cols-3 md:mt-0 md:w-1/2 gap-x-3'>
      <div>{% include 'menu-footer-top' with menu: 'footer' %}</div>
      <div>{% include 'menu-footer-top' with menu: 'footer-two' %}</div>
      <div>{% include 'menu-footer-top' with menu: 'footer-three' %}</div>
    </div>
  </div>

  <div class='flex pt-2 mb-6 md:pt-4 md:pb-12 flex-warp'>
    <div class='w-full lg:w-1/2 md:ml-auto'>
      {% render 'menu-bottom' %}
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Newsletter signup text",
  "settings": [
    {
      "id": "ne-text",
      "type": "textarea",
      "label": "Text",
      "default": "For new product releases, merchandise, restaurant partnerships, and more info"
    },
    {
      "id": "no-id",
      "type": "text",
      "label": "klaviyo form id",
      "info": "Used by the sign up button",
      "default": "TA2Bfj"
    }
  ]
}
{% endschema %}
