<section class='flex flex-wrap bg-tint2'>
  <div class='w-full py-10 md:py-20 mx-auto md:w-10/12 {% render 'c-container' %}'>

   


    <div id="feat-article" class="w-full mb-7 md:mb-15"></div>


    <div class='grid grid-cols-1 md:grid-cols-3 gap-y-5 md:gap-y-0 recipes-grid articles'>
      {%- paginate blog.articles by 13 -%}
        {% for article in blogs.recipes.articles %}
          

          {% if  forloop.first %}
            <div class='article p-[8px]  w-full rounded-2 text-center border-3 border-tint3 {% render 'c-color-change' %} flex flex-wrap'>
              <div class="w-full p-2 rounded-1 border-3 border-tint3">
              <a href='{{ article.url }}' class='flex flex-wrap'>
              <div class="md:w-1/2">
                {% assign img = article.image %}
                {% render 'img-product-card', img: img %}
              </div>
              <div class="flex flex-wrap p-6 md:w-1/2">
                <div class="mx-auto my-auto">
                <h2 class="mb-3 text-tint3 font-3 leading-1 text-9-fluid">Featured recipe</h2>
                <h3 class='mb-3 leading-5 text-10-fluid'>{{ article.title }}</h3>
                <h4 class="leading-4 uppercase text-tint1 text-1-fluid">By Zab's Saucemaster General</h4>
                </div>
              </div>
              </a>
            </div>
            </div>
          {% else %}
            <div class='article md:p-10 text-center md:border-b-3 md:border-r-3 border-tint1 {% render 'c-color-change' %} hover:bg-tint1 hover:text-tint2'>
              <a href='{{ article.url }}' class='block '>
                {% assign img = article.image %}
                {% render 'img-product-card', img: img %}
                <h2 class='mt-5 leading-5 md:mt-10 text-5-fluid'>{{ article.title }}</h2>
              </a>
            </div>
    
          {% endif %}
    
        {% endfor %}
      {%- endpaginate -%}
    </div>

    {% if blog.articles.size > 13 %}
    {% paginate blog.articles by 13 -%}
    <div class="flex flex-wrap mt-18"> 
    <ul class="flex mx-auto">
        {% for part in paginate.parts -%}
         <li class="mx-1">
          {% if part.is_link -%}
            <a href='{{ part.url }}' class='leading-1 text-4-fluid hover:text-tint3 {% render 'c-color-change' %} '>{{ part.title }}</a>
          {%- else -%}
            <span class='text-4-fluid leading-1 text-tint3'>{{ part.title }}</span>
          {% endif %}
        {%- endfor %}
        </li>
        {%- if paginate.next-%}
        <li class="ml-1"><a class="group" href="{{ paginate.next.url }}">
<svg class="w-[16px] fill-tint1 group-hover:fill-tint3" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 16.2 15.8" viewBox="0 0 16.2 15.8"><path d="m6.9 1.1.8-.8C8 0 8.6 0 8.9.3l7 7c.3.3.3.9 0 1.2l-7 7c-.3.3-.9.3-1.2 0l-.8-.8c-.3-.3-.3-.9 0-1.2l4.4-4.2H.9C.4 9.4 0 9 0 8.5V7.3c0-.5.4-.9.9-.9h10.4L6.9 2.3c-.3-.3-.3-.9 0-1.2z"/></svg>
        
        </a></li>
        {%- endif %}

      </ul>
    </div>

    {%- endpaginate %}
    {% endif %}
  </div>
  <div class='w-full blue-dec dec-border '></div>
</section>


<script>
  const firstArticle = document.querySelector('.articles').querySelector(':first-child');
  const featArticle = document.getElementById('feat-article');
  featArticle.appendChild(firstArticle);
  
    </script>
  