<section class="flex flex-wrap w-full pt-0 md:pt-7 pb-7 md:pb-13">
  <div class="{% render 'c-gutter' %}"></div>

  <div class="flex-1 ">
    <h1 class="mb-4 text-4-fluid leading-2 md:mb-11">Curated</h1> 
      
      {% assign blog = blogs.collections %}

    <div x-data="blog()" x-init="init" class="flex flex-wrap masonry">

      {% assign count = 0 %}

      {% for article in blog.articles  %}
        {% assign count = count | plus: 1 %}
        

           {% if count == 5 %}{% assign count = 1 %}{% endif %}

        <div class="flex md:flex-wrap post">
          <div class=" {% if count == 1 %} w-full md:w-7/12 pb-8 md:pb-[20vh] {% endif %} {% if count == 2 %} md:pt-[25vh] pb-8 md:pb-[20vh] w-full md:w-7/12 ml-auto{% endif %} {% if count == 3 %} w-full md:w-10/12 ml-auto pb-8 md:pb-[20vh] {% endif %}
        

          {% if count == 4 %} w-full md:w-7/12 pb-8 md:pb-[20vh] md:mx-auto {% endif %}"
          
          >


             
          
            <a class="relative block group" href="{{ article.url }}">
              
              <div class="absolute top-0 left-0 z-10 flex w-full h-full transition-opacity duration-300 opacity-0 group-hover:opacity-100 overlay bg-tint3 p-sm text-tint2 ">
                    <span class="m-auto ">View post</span>
                </div>
              <img class="block w-full" src="{{ article.image.src | image_url: width: 1000 }}">
            
            
            </a>
            <a class="block mt-4 mb-1 text-2-fluid leading-1" href="{{ article.url }}">{{ article.title }}</a>
            <a class="block text-tint5" href="{{ article.url }}">{{ article.published_at | date: "%d/%m/%Y" }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="{% render 'c-gutter' %}"></div>
</section>
