<section class="{% render 'container' %} {% render 'c-top-margin' %}  pb-9 flex flex-wrap" >
 
    {% if cart.item_count > 0 %}
    
    
    <div class="w-full mx-auto max-w-cart">
      
      <form action="/cart" method="post" novalidate>
    
            
        <div class="border-tint3 ">
         
            {% for item in cart.items %}
            <div class="flex pt-3 pb-3 border-tint3 border-b-1">
                  
            
                {% if item.image != blank %}
                    <a  href="{{ item.url | within: collections.all }}">
                    <img  class="block"  src="{{ item.image.src | product_img_url: '200x' }}" {{ item.image.alt }}>
                    </a>
                  {% endif %}
    
                  
                  <div class="flex flex-wrap w-10/12 pl-4 md:w-5/12 ">
                  <a class="text-tint3" href="{{ item.url }}">{{ item .product.title }}  {% unless item.product.has_only_default_variant %}<br/><span class="inline-block mt-1 text-tint2 text-1-fluid">{{ item.variant.title }}</span>{% endunless %}
                  {% unless item.selling_plan_allocation == nil %}
                  <br /><span class="italic text-1-fluid text-tint2">{{ item.selling_plan_allocation.selling_plan.name }}</span>
                {% endunless %}
                  </a>
    
                
                   
                  <div class="flex items-center w-full mt-3 mb-6  {% unless item.selling_plan_allocation == nil %} opacity-0 {% endunless %}">
                  <div class="flex items-center justify-center border-1 border-tint3">
                   
                    <a class="inline-block px-2 py-2 cursor-pointer minus-quantity "  data-target="{{ item.key }}">{% render 'svg-minus' %}</a>
    
                    <input type="text" id="{{ item.key }}" style="width:35px" class="text-center select-none font-1"
                         name="updates[]"
                         id="updates_{{ item.key }}"
                         value="{{ item.quantity }}"
                         min="0"
                         aria-label="{{ 'cart.general.item_quantity' | t }}">
    
                   <a class="inline-block px-2 py-2 cursor-pointer add-quantity " data-target="{{ item.key }}"> {% render 'svg-plus' %} </a>
    
                   
                  </div>
                  </div>
    
                  <a class="mt-auto underline transition-colors duration-300 duration-500 ease-in-out text-1-fluid text-xxs-fluid text-tint2 hover:text-tint3" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
               
                  </div>
    
                <div class="ml-auto text-1-fluid ">{{ item.line_price | money }} </div>
    
    
                </div>
            {% endfor %}
          </div>
    
          <button class="hidden" type="submit" name="update" id="update-cart">Update</button>
    
    
    
        <div class="pt-4 pb-4">
    
        <div class="flex ml-auto md:w-1/2">
            <div class="text-xs-fluid tracking-2 font-1">
              <h2 class="uppercase text-2-fluid tracking-2 font-1">Total</h2>
              <span class="text-tint2 text-1-fluid">(Excluding delivery)</span>
            </div>
            <div class="ml-auto text-xs-fluid tracking-2 font-1">{{ cart.total_price | money }}</div>
        </div>
        
        </div>
     
       <!--<input type="submit" name="update" value="Update">!-->
    
        <div class="mt-3">
          <input  type="submit" name="checkout" class="{% render 'btn' %} text-tint2 font-1 w-full" value="CHECKOUT">
      </div>
        
      </form>
    
        <a class="flex inline-block mt-4 cursor-pointer text-tint3 text-1-fluid" href="/collections/shop">
    
        <span class="mr-2 transform rotate-180">{% render 'icon-arrow' %}</span> Continue shopping  
      </a>
    {% else %}
    
    <div class="mx-auto text-center">
      Your shopping basket is empty.
    </div>
    
    {% endif %}
    </div>
    
    </section>
    
    