<section class="flex flex-wrap w-full bg-tint2">  


  <div class="flex-1 pl-3 pr-3 md:pr-0">


      <div class="hidden grid-cols-2 gap-3 md:grid">
        {% assign images = product.media | where: "media_type", "image" %} 
        {% for image in product.images %}

        <div>{% render 'img-square', img:image%}</div>
 
        {% endfor %}
      </div>
  </div>

  <div class="self-start w-full px-3 md:pt-3 md:sticky md:top-0 md:max-w-cart ">

  <div class="brand-b-border pb-7 font-3 text-2 tracking-2 ">
  <h1 class="mb-3 uppercase tracking-2 ">{{product.title }}</h1>
  <h2 id="price" class="">{{ product.price | money }}</h2>
  </div>

  <div class="pt-3 font-1 text-4">
 {{ product.description }}
  </div>
<div class="mt-7 ">
  {% for variant in product.variants %}

   <div class="hidden var-thumb">
  
    {% assign vImg = variant.image %}
    {% if vImg %}
      {% assign vImg = variant.image.src %}
    {% else %}
      {% assign images = product.media  %}
      {% assign vImg = images[0].src %}
    {% endif %}
    {% render 'img-thumb', img:vImg %}
      </div>
  {% endfor %}

</div>

<div class="flex flex-wrap w-full py-3">
Select &nbsp; <span class="inline-block lowercase"> {{ product.options[0] }}</span>	<a href="{%- if section.settings.page-link != blank -%} {{ section.settings.page-link.url }} {% else %} /pages/eye-test {% endif %}" class= "ml-auto transition duration-300 text-tint3 hover:text-tint1 ">{%- if section.settings.page-text != blank -%}
{{ section.settings.page-text }}{% else %}Take a test{% endif %}</a>
</div>

<div class="flex flex-wrap">
  {% for variant in product.variants %}
    <button x-data="varbtns()" @click="set" @mouseenter="over"  @mouseleave="out" data-value="{{ variant.title }}" data-index="{{forloop.index0}}" data-id="{{ variant.id }}" data-color="{{ variant.metafields.custom.color }}"  class="transiton duration-300 mr-1 px-2 h-[30px] w-[50px] font-3 border rounded-full var-btn border-tint3"> {{ variant.title }}</button>
  {% endfor %}

  <a  href="{%- if section.settings.page-link != blank -%} {{ section.settings.page-link.url }} {% else %} /pages/eye-test {% endif %}" class="ml-auto px-2 h-[30px] w-[45px] block flex justify-center items-center border rounded-full  border-tint3 hover:bg-tint1 hover:text-tint2 duration-300 ease-in-out hover:border-tint1">?</a>

  

</div>
  
{% if product.available == false %}
<span class="block pt-1 text-tint5">Sold out</span> 
{% else %}

 <form action="/cart/add" method="post" enctype="multipart/form-data"  
  id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">

{% render 'product-options' %}

    <div class="flex mt-6">
       <input class="hidden" type="text" id="Quantity" name="quantity" value="1" min="1"/>

       {% if product.variants.size == 1 %}
        {% if product.variants.first.inventory_quantity == 0 %}
   
          <button  disabled class="hidden w-full py-2 uppercase bg-tint4 text-tint4 font-1" >SOLD OUT</button>
        {% else %}

        {% render 'product-add' %}
       {% endif %}

        {% else %}
      {% render 'product-add' %}
  {% endif %}

    </div>         
    {% assign current_variant = product.selected_or_first_available_variant %}
</form>

{% endif %}

<div x-data="{ active: false }" class="border-t border-tint3 mt-7">
    {% for block in section.blocks %}

 <div class="border-b border-tint3" x-data="{
        id: {{forloop.index0}},
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="">
        <h2>
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex items-center justify-between w-full py-3 "
            >
                <span> {{ block.settings.title }}</span>
             
            </button>
        </h2>

        <div x-show="expanded" x-collapse class="">
            <div class="pb-4 text-4">
                    {{ block.settings.text }}
            </div>
        </div>
    </div>


 {% endfor %}

   


   
 </section>

 <!-- Flavour notes !-->
 <section class="bg-tint3 text-tint2">
  <div class="flex flex-wrap py-24 text-tint">
    <div class="w-10/12 mx-auto">
      <h2 class="{% render 'c-section-header' %}">
        {% if product.metafields.custom.flavour_title%}
          {{ product.metafields.custom.flavour_title }}
        {% else %}
          Flavour notes
        {% endif %}
        </h2>
      <div class="grid grid-cols-2 gap-x-6">
        <div class="flex flex-wrap text-center uppercase">
          <img class="w-[75px] mx-auto block" src="/assets/chili.static.svg" alt="chili">
          <div class="flex flex-wrap w-full">
          {% if product.metafields.custom.flavour_note%}
            <div class="max-w-[500px] mx-auto leading-5 mt-6">
            {{ product.metafields.custom.flavour_note }}
            </div>
          {% endif %}
          </div>
        </div>
        <div class="flex flex-wrap text-center uppercase">

          <div class="mx-auto">
            <ul class="flex flex-wrap ">
              {% assign heat_rating = product.metafields.custom.flavour_heat_rating.value.rating | floor %}
              {% for i in (1..5) %}
                {% assign opacity = '0.5' %}
                {% if i <= heat_rating %}
                  {% assign opacity = '1' %}
                {% endif %}
                <li class="px-1">
                  <img class="w-[35px] mx-auto block" src="/assets/flame.static.svg" alt="flame rating {{ i }}" style="opacity: {{ opacity }};">
                </li>
              {% endfor %}
            </ul>
          {% if product.metafields.custom.flavour_heat_note%}
           <div class="flex flex-wrap w-full mt-6"> 
           <div class="max-w-[500px] mx-auto leading-2">
           {{ product.metafields.custom.flavour_heat_note }}
           </div>
          </div>
          {% endif %}
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="mt-auto red-dec dec-border "></div>
</section>


<!-- Usage list & Recipe !-->
<section class="bg-tint2">
  <div class="flex flex-wrap py-24 text-tint">
    <div class="w-10/12 mx-auto">

      <!-- Usage list !-->
      <div class="grid grid-cols-2 gap-x-6">
      {% if product.metafields.custom.usage_list %}
          <div class="">
            <h2 class="mb-8 text-tint3 font-3 text-13-fluid leading-1">{% if product.metafields.custom.usage_title%}
              {{ product.metafields.custom.usage_title }}
              {% else %}
              Dab it on
              {% endif %}
              </h2>
            <table class="w-full border-t-3 border-tint1">
              {% for item in product.metafields.custom.usage_list.value %}
                <tr class="uppercase border-b-3 border-tint1 text-3-fluid font-1" >
                <td class="leading-1 border-r-3 border-tint1 leading-1 pt-[36px] pb-[30px] w-[100px] text-center">
                {{ forloop.index | prepend: '0' | slice: -2, 2 }}
                </td>
                <td class=" pt-[36px] pb-[30px] pl-3">
                  {{ item }}
                </td>
                </tr>
              {% endfor %}
            </table>
          </div>

          {% if product.metafields.custom.usage_image %}
          <div>
            {%- assign img = product.metafields.custom.usage_image -%}
            {% render 'img-product-card', img: img %}
          </div>
        {% endif %}
        
      {% endif %}
    </div>



      <!-- Recipe !-->
    {% assign current_product_id = product.id %}
    {% assign match_found = false %}
    {% for post in blogs['recipes'].articles %}
      {% if match_found == false %}
        {% for related_product in post.metafields.custom.related_products.value %}
          {% if related_product.id == current_product_id %}

            <div class="grid grid-cols-2 gap-6 mt-18">

    
              {% assign img = post.image %}
 
              <div class="">
                <a href="{{ post.url }}" class="object-cover w-full h-full">
                    <img class="object-cover w-full h-full rounded-1" src="{{ img| img_url: '400x400', crop: 'center'}}" alt="{{ post.title }}">
                </a>
              </div>  
         

            <div class="border-3 border-tint3 rounded-2 p-[8px]">
              <div class="flex flex-wrap h-full p-4 text-center border-3 border-tint3 rounded-2 ">
                <div class="m-auto">
                  <h2 class="mb-10 text-tint3 font-3 leading-1 text-13-fluid"> <a href="{{ post.url}}">Cook it in</a></h2>
                  <h3 class="mb-10 leading-3 uppercase text-tint1 text-12-fluid"><a href="{{ post.url}}">{{ post.title }}</a></h3>
                  <a href="{{ post.url}}" class="{% render 'c-btn' %} inline-block bg-tint3 text-tint2 hover:bg-tint1 ">
                    <span class="mt-[17px] block">Cook it</span></a>
                </div>
              </div>
              </div>
            </div>

            <div class="flex flex-wrap mt-18">
              <div class="mx-auto"><a href="/blogs/recipes" class="pb-1 text-center {% render 'c-color-change' %} uppercase hover:text-tint3 font-2 border-b-3 leading-1 text-7-fluid">See all recipes</a></div>
            </div>
            
            {% assign match_found = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    
  </div>
  </div>
  <div class="blue-dec dec-border "></div>
</section>

 
<!-- Related products !-->


{% render 'related-products', products: product.metafields.custom.related, title:product.metafields.custom.related_title,class:'pro-related' %}


{% schema %}
{
    "name": "Product details",
    "max_blocks": 10,
    "blocks": [
    {
      "name": "Row",
      "type": "gallery",
      "settings": [
      {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text"
        }
      ]
    }
  ],
  "settings": [
      {
        "id": "page-link",
        "type": "page",
        "label": "Page",
        "info": "(shown next to options)"
      },
         {
        "id": "page-text",
        "type": "text",
        "label": "Text for link"
      }
    ]
}

{% endschema %}  