<section class=" {% render 'c-container' %} ">

  <div x-data="slideshow()" class="relative overflow-hidden brand-b-border ">
    <div class="splide__track cursor-grab ">

      <ul class="splide__list">
        {% for block in section.blocks %}
          <li class="splide__slide">
            <img src="{{ block.settings.slide_img.src | img_url: '480x' }}" alt="{{ block.settings.slide_img.alt | escape }}" srcset="
                                                                                                                                                                                                                                                              {% if block.settings.slide_img.width > 640 %}{{ block.settings.slide_img.src | img_url: '640x' }} 640w{% endif %}
                                                                                                                                                                                                                                                              {% if block.settings.slide_img.width > 720 %},{{ block.settings.slide_img.src | img_url: '720x' }} 720w{% endif %}
                                                                                                                                                                                                                                                              {% if block.settings.slide_img.width > 900 %},{{ block.settings.slide_img.src | img_url: '900x' }} 900w{% endif %}
                                                                                                                                                                                                                                                              {% if block.settings.slide_img.width > 1200 %},{{ block.settings.slide_img.src | img_url: '1200x' }} 1200w{% endif %}
                                                                                                                                                                                                                                                              {% if block.settings.slide_img.width > 1920 %},{{ block.settings.slide_img.src | img_url: '1920x' }} 1920w{% endif %}
                                                                                                                                                                                                                                                              "/>
          </li>
        {% endfor %}
      </ul>
    </div>



    {%- if section.settings.header != blank -%}
      {% render 'gallery-btns', header:true %}
    {%- else -%}
      {% render 'gallery-btns', header:false %}
    {%- endif -%}

  </div>
</setion>


{% schema %}
  {
    "name": "Slideshow",
    "max_blocks": 10,
    "blocks": [
      {
        "name": "Slide",
        "type": "gallery",
        "settings": [
          {
            "id": "slide_img",
            "type": "image_picker",
            "label": "Image",
            "info": "Images should be the sames size as each other and have a width of 1200px"
          }
        ]
      }
    ],

    "presets": [
      {
        "name": "Slideshow",
        "category": "sections"
      }
    ]
  }
{% endschema %}